.baselayout {
  width: 100%;
  min-height: 100vh;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .layoutBox {
    width: 100%;
    max-width: 50rem;
    height: fit-content;

    padding: 0.625rem 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .composeNote {
    transition-duration: 0.2s;
    
    width: 6.25rem;
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    background-color: #ffffff;
    border: 0.125rem solid #0084ff;
    border-radius: 6.25rem;

    cursor: pointer;

    position: fixed;
    left: calc(100% - 6.9375rem);
    top: calc(100% - 3.1875rem);
    z-index: 11;

    .composeNoteIcon {
      transition-duration: 0.1s;

      color: #0084ff;
    }
  }
  .composeNote:hover {
    background-color: #0084ff;

    .composeNoteIcon {
      color: #ffffff;
    }
  }

  @media (max-width: 50.625rem) {
    .layoutBox {
      padding: 0.625rem;
    }
  }
}