* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 67.5%;
}

input, select, textarea {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

a {
  text-decoration: none;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}