.header {
  width: 100%;
  height: 3.75rem;
  padding: 0 1.25rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #0084ff;

  position: relative;

  .logo {
    width: fit-content;
    height: 100%;

    padding: 0 0.625rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;

    cursor: pointer;
  }

  .searchBarBox {
    width: 100%;
    max-width: 50rem;
    height: 100%;

    visibility: hidden;

    @media (max-width: 50rem) {
      visibility: visible;
    }

    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    padding: 0.625rem;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #0084ff;

    .inputBox {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;

      .arrowLeft {
        cursor: pointer;
      }
    }
  }

  .searchBarBoxBigScreen {
    width: 100%;
    max-width: 37.5rem;
    height: 100%;

    display: none;
    
    @media (min-width: 50rem) {
      display: block;
    }
  }

  .headerEnd {
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    
    .magnifying {
      cursor: pointer;
      justify-self: flex-end;

      display: block;

      @media (min-width: 50rem) {
        display: none;
      }
    }
  
    .profile {
      cursor: pointer;
    }
  }
}

.sideBarBackgroundShadow {
  width: 100%;
  height: 100%;

  background-color: #00000046;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 13;

  display: none;
  cursor: pointer;
}

.sideBar {
  transition-duration: 0.2s;
  width: 100%;
  @media (min-width: 28.125rem) {
    width: 18.75rem;
  }

  height: 100%;

  overflow: hidden;

  position: fixed;
  top: 0;
  right: -28.125rem;
  bottom: 0;
  z-index: 14;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: #ffffff;

  .sideBarHeader {
    width: 100%;
    height: 3.75rem;

    padding: 0.625rem;

    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.625rem;

    background-color: #0084ff;

    .arrowLeft {
      min-width: fit-content;
      min-height: fit-content;
      cursor: pointer;
    }

    .sideBarHeaderEnd {
      width: 70%;
      max-width: fit-content;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.625rem;
      
      p {
        width: 100%;
        // max-width: 70%;
        font-size: 0.9375rem;
        font-weight: 500;
        color: #ffffff;
        
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .profile {
        min-width: fit-content;
        min-height: fit-content;

        position: absolute;
        right: 0.625rem;
      }
    }
  }

  .sideBarOptionsBox {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    list-style: none;

    .optionLinkWrap {
      width: 100%;
      height: 3.75rem;

      li {
        transition-duration: 0.2s;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.3125rem;

        padding: 0 0 0 0.625rem;

        font-size: 0.875rem;
        color: #616161;
        background-color: #ffffff;
      }
      li:hover {
        filter: brightness(90%);
      }
    }
  }
}

.visibleBackgroundShadow {
  display: block;
}
.visibleSideBar {
  right: 0;
}
