.modalSubmitInput {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .submitInput {
    transition-duration: 0.1s;
    width: fit-content;
    height: fit-content;

    padding: 0.625rem 1.25rem;

    border-radius: 0.125rem;

    color: #ffffff;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;

    background-color: #0084ff;
    cursor: pointer;
  }

  .submitInput:hover {
    filter: brightness(90%);
  }

  .disabledInput {
    background-color: #9e9e9e;
    cursor: progress;
  }
}