.notesBoard {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;

  .paginationComp {
    width: 100%;
    min-height: 3.125rem;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.625rem;

    color: #575757;
    font-size: 0.875rem;
    font-weight: 600;

    .paginationActions {
      width: 100%;
      height: fit-content;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.625rem;

      .navigateButton {
        cursor: pointer;
      }
      .navigateButton:hover {
        color: #0084ff;
        font-weight: 700;
      }

      .pagesList {
        width: fit-content;
        height: fit-content;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        list-style: none;

        overflow: auto;

        .listItem {
          transition-duration: 0.1s;

          min-width: 3.125rem;
          width: 100%;
          height: 100%;
          padding: 0.625rem;

          display: flex;
          justify-content: center;
          align-items: center;

          align-self: center;
          justify-self: center;
          text-align: center;

          border-right: 0.125rem solid #818181;
          cursor: pointer;
        }
        .listItem:hover {
          background-color: #0084ff;
          color: #ffffff;
        }
        .activeListItem {
          background-color: #0084ff;
          color: #ffffff;
        }

        .listItem:last-of-type {
          border-right: none;
        }
      }
    }
  }
}