.searchBarBox {
  width: 100%;
  height: fit-content;

  padding: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    .searchBarInput {
      width: 100%;
      height: 40px;

      padding: 0 10px;

      background-color: #f7f7f7;
      color: #616161;

      border: 1px solid #b8b8b8;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    .searchBarSubmit {
      width: fit-content;
      height: 40px;

      padding: 0 10px;

      cursor: pointer;

      background-color: #f7f7f7;
      color: #616161;
      font-weight: 700;

      border: 1px solid #b8b8b8;
      border-left: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }

    .searchResultsPreview {
      width: 100%;
      height: fit-content;

      padding: 5px 0;

      position: absolute;
      top: 45px;
      z-index: 11;

      border: 1px solid #b8b8b8;
      border-radius: 2px;

      background-color: #f7f7f7;

      list-style: none;

      li {
        width: 100%;
        height: 40px;

        padding: 0 0 0 10px;

        cursor: pointer;
        
        color: #616161;
        font-size: 1.2rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      li:hover {
        background-color: #e9e9e9;
      }
    }
  }
}