.notesBox {
  width: 100%;
  height: fit-content;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.625rem;
}

@media (max-width: 810px) {
  .notesBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.625rem;
  }
}

@media (max-width: 600px) {
  .notesBox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.625rem;
  }
}