.loginWrapper {
  width: 100%;
  min-height: 100vh;
  height: fit-content;

  padding: 0.625rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #868686;

  .loginBox {
    width: 100%;
    max-width: 31.25rem;

    padding: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.625rem;

    border-radius: 0.3125rem;

    background-color: #ffffff;
    color: #616161;

    h1 {
      font-size: 1.1rem;
    }

    .form {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.25rem;
    }

    .redirectLinksBox {
      width: 100%;
      height: fit-content;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.625rem;

      .redirectButton {
        width: fit-content;
        height: fit-content;
  
        margin: auto;
        text-align: center;
  
        p {
          font-size: 1rem;
          color: #0084FF;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}