.backgroundShadow {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 12;

  background-color: #00000046;

  animation: 0.1s linear openAnimation;
}

.baseModal {
  width: calc(100% - 1.25rem);
  max-width: 40.625rem;
  height: fit-content;
  
  padding: 1.25rem;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 13;
  margin: auto;

  border-radius: 0.3125rem;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.625rem;

  border-radius: 0.3125rem;

  font-family: "Roboto", sans-serif;

  color: #616161;

  input,
  textarea {
    color: #616161;
  }

  h2 {
    font-size: 1rem;
    font-weight: 700;
  }

  animation: 0.1s linear openAnimation;
}

.closeTransition {
  animation: 0.1s linear closeAnimation;
}

@keyframes openAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes closeAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
